[Unit]
Description=Daemon PCB
After=network.target

[Service]
Type=forking
ExecStart=/home/kali/Desktop/libprocesshider/pcb_info  
PIDFile=/tmp/daemon_pcb.pid
Restart=always
RestartSec=5
User=root  

[Install]
WantedBy=multi-user.target
